* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;

}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 60px;

    background-color: #1a1a1a;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 30px;

    list-style: none;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-menu a:hover {
    color: #ffd700;
}

.whatsapp-btn {
    color: white;
    text-decoration: none;

    background-color: #25D366;

    padding: 10px 18px;
    border-radius: 8px;
}

/* HERO */

.hero {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 80px 20px;
}

.hero-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 25px;
}

.hero p {
    font-size: 1.3rem;
    line-height: 1.6;

    margin-bottom: 35px;
}

.hero-button {
    display: inline-block;

    background-color: #ffd700;
    color: #111;

    padding: 14px 28px;

    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.hero-button:hover {
    transform: translateY(-3px);
}

/* PRODUCTS */

.products {
    padding: 80px 60px;
    background-color: #181818;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-title p {
    color: #bdbdbd;
    font-size: 1.1rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #222222;
    border-radius: 14px;
    overflow: hidden;

    border: 1px solid #333333;

    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
    border-color: #ffd700;
}

.product-image {
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #303030;

    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    transition: 0.3s;
}

.product-card:hover .product-image img {
    transform: scale(1.05);
}


.product-info {
    padding: 25px;
}

.product-info h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffd700;

    margin-bottom: 10px;
}

.stock {
    color: #25D366;
    margin-bottom: 20px;
}

.product-button {
    display: inline-block;

    padding: 10px 18px;

    background-color: #ffd700;
    color: #111;

    border-radius: 6px;

    text-decoration: none;
    font-weight: bold;
}

.product-image {
    height: 280px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    padding: 20px;

    transition: 0.3s;
}

.product-card:hover .product-image img {
    transform: scale(1.05);
}

.product-detail {
    color: #bdbdbd;
    font-size: 0.95rem;
    margin-bottom: 6px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .product-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 15px;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.whatsapp-btn {
    margin-right: 0;
}

    .hero {
    padding: 60px 20px;
}

.hero-content {
    width: 100%;
    text-align: center;
}

    .hero h1 {
        font-size: 2.5rem;
    }

}

/* PRODUCT DETAIL PAGE */

.product-detail-page {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 80px 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-detail-image {
    width: 500px;
    height: 500px;
    background-color: #303030;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 30px;
}

.product-detail-info {
    max-width: 500px;
}

.product-detail-info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.product-detail-info p {
    margin-bottom: 10px;
    line-height: 1.6;
}





